$yellow-light: #FFD70D;
$yellow-dark: #F0B000;

$wine-light:#D900AD;
$wine-dark:#A6007C;

$red-light: #FF3333;
$red-dark:#D9090A;

$green-light: #00BF7A;

$blue-default: #00A8EB;
$blue-light: #0DBEFF;
$blue-dark:#0083C4;

$grey-dark-900:#101112;
$grey-dark-800: #262727;
$grey-dark-700: #3B3C3D;
$grey-dark-600: #515152;
$grey-dark-500:#666767;

$grey-light-400:#7C7C7D;
$grey-light-300: #919192;
$grey-light-200: #A7A7A7;
$grey-light-100:#BCBCBC;
$grey-light-50:#D2D2D2;

$light:#F6F6F6;
